body {
    background-color: aqua;
}

h1 {
    text-align: center;
    color: white
}

input {
    margin: 5px;
}

.but {
    margin-left : 75px;
}

.but , button {
    color: white;
    background-color: black;
    margin-top: 10px;
}

a {
    text-decoration: none;
}