body {
    background-color: brown;
}

ul {
    list-style-type: circle;
}

ul li {
    color: white;
    padding-bottom: 10px;
    /* Fonts */
    font-weight: bold;
    font-size: 35px;
    font-style: italic;
}

table {
    margin-left: 30px;
    margin-bottom: 15px;
}

th,
td {
    padding: 3px;
}

table,
th,
td {
    /* border: width style color */
    border: 1px solid black
}
button {
    padding: 6px;
    margin-left: 45px;
    border-radius: 6px;
    color: white;
    background-color: black;
}